[Unit]
Description=Bluez DUN Daemon
After=syslog.target bluez-bluetoothd.service

[Service]
Type=forking
ExecStart=/usr/bin/dund
KillMode=process
Restart=always
StandardOutput=syslog

[Install]
WantedBy=bluetooth.target
