[Unit]
Description=Bluez PAN Daemon
After=syslog.target bluez-bluetoothd.service

[Service]
Type=forking
ExecStart=/usr/bin/pand
KillMode=process
Restart=always
StandardOutput=syslog

[Install]
WantedBy=bluetooth.target
