[Unit]
Description=Bluez RF Comm Daemon
After=syslog.target bluez-bluetoothd.service

[Service]
Type=forking
ExecStart=/usr/bin/rfcomm -f /etc/bluetooth/rfcomm.conf bind all
KillMode=process
Restart=always
StandardOutput=syslog

[Install]
WantedBy=bluetooth.target
